body {
  background-image: url('dic_bg.webp');
  background-size: cover;
  font-family: Arial, sans-serif;
  color: black;
  font-weight: bold; 
}


a:visited, a:link, a { color: black; }
h1 { font-size: 32pt; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
}

.top-link {
  top: 10px;
  left: 10px;
  font-size: 1em;
}

.timer {
  display: flex;
}

.timer-labels {
  text-align: right;
  margin-right: 20px;
}

.timer-values {
  text-align: left;
}

.active-milestone {
  color: black;
}

.inactive-milestone {
  color: darkgray;
}

.special-milestone {
  color: pink;
}

.milestones {
  font-size: 60%;
  margin-top: 50px;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

    .task {
        margin: 5px;
        padding: 10px;
        background-color: lightblue;
        display: inline-block;
        width: 100px;
        text-align: center;
    }
