body {
  background-image: url('night_sky.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
}

.top-link {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1em;
}

.active-milestone {
  color: white;
}

.inactive-milestone {
  color: darkgray;
}

.special-milestone {
  color: pink;
}

 a:visited, a:link, a { color: white; }
